/.idea
/CheckIn.sln.DotSettings.user

/CheckIn.Api.App/bin
/CheckIn.Api.App/obj
/CheckIn.Api.App/appsettings.Development.json

/CheckIn.Api.Bl/bin
/CheckIn.Api.Bl/obj

/CheckIn.Api.Dal/bin
/CheckIn.Api.Dal/obj

/CheckIn.Api.Common/bin
/CheckIn.Api.Common/obj
